/*---------------------*/
/*    reusable components     */
/*---------------------*/
*, *::before, *::after {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Goblin One', cursive;
    color: yellowgreen;
    background: url(greenSnake.jpg) center center fixed;
    position: relative;
}


/*---------------------*/
/*    Elements inside the container     */
/*---------------------*/

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    text-align: center;
    padding: 1rem;
    background-color: #fff;
    width: 40%;
    flex-direction: column;
    margin: 80px auto;
    z-index: 2;
}

button {
    padding: .5rem
}

.grid-box {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border: 1px solid;
    margin: 0 auto;
}

.square {
    width: 1.238rem;
    height: 20px;
/*    border: 1px solid black*/
}

.snake {
    background-color: yellow;
    border: 1px solid yellowgreen;
}

.apple {
    background-color: orangered;
}

.rodent {
    background-color: brown;
}